body {
  padding: 0;
  margin: 0;
}
#header {
  background: #7450fc;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

#header-img {
  width: 20%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

a:hover {
  text-decoration: underline;
}

.nav-link {
  margin: 0 15px;
}

#email{
  margin-left: 10px;
}

section {
 margin: 25px;
}