body {
  padding: 0;
  margin: 0;
}
#header {
  background: #7450fc;
  padding: 30px;
  padding-bottom: 10px;
}

#header-img {
  width: 200px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;;
}

a:hover{
  text-decoration: underline;
}

.nav-link {
  margin: 0 15px;
}